<div class="wrapper">
    <div class="container">
        

        <form class="form" action="/admin/login" method="post">
            <h1>Welcome</h1>
            {{!-- <input for="name" type="text" placeholder="Username">
            <input for="password" type="password" placeholder="Password"> --}}
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Username">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>

            {{#if error}}
            <p>username or password incorrect!</p>
            {{/if}}
    </div>
    </form>



    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>