<div class="wrapper">
    <div class="container">
        <form class="form" action="/admin/login" method="post">
            <a href="/" class="btn btn-secondary bi bi-house">Home<i class="bi bi-house"></i></a>
            <h1>Welcome</h1>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Username">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>

            {{#if error}}
            <p>username or password incorrect!</p>
            {{/if}}
    </div>
    </form>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>