<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spooky Ghost</title>
    </head>
    <body>

<div class="container logout">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span style="color: black">Hello {{user}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Logout
                    <i class="fasfa-sign-out-alt"></i>
                </a>
            </p>
        </div>
    </div>
</div>


        <div id="container">
            <div id="spooky">
                <div id="body">
                    <div id="eyes"></div>
                    <div id="mouth"></div>
                    <div id="feet">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="shadow"></div>
        </div>
    </body>
</html>









