.container {
    margin: 11px auto;
}

.log {
    text-align: end;
    color: rgb(206, 142, 58);
    padding: 0 0;
}

h2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    text-align: left;
    margin-left: 38px;
    padding: 0;
    color: rgb(206, 142, 58);


}

.seek{
    border-radius: 12px;
    border: 0px;
}

.searchBtn{
    text-align: center;
    padding: 0 0;
}

.newBtn {
    text-align: right;
    padding: 0 0;

}

body{
    background-color: rgba(0, 0, 0, 0.716);
}

.newslist{
    padding: 0 25px;
    margin: 7px 0px;
}

