html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(14, 110, 110);
  background-image: url(./../images/filip-zrnzevic-QsWG0kjPQRY-unsplash1.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


section:nth-of-type(1) {
  background-image: url(/images/2562648.jpg);
  height: 676px;
}

section:nth-of-type(4) {
  display: block;
}

section:nth-of-type(5) {
  justify-content: space-evenly;
}

.navbar-brand {
  color: rgb(14, 110, 110);
  font-size: xx-large;
}

.navbar-nav {
  font-size: x-large;
}

.imagen-redonda {
  display: flex;
  justify-content: space-evenly;
}

.imagen-redonda>img {
  max-width: 80%;
  height: auto;
  border-radius: 30%;
  position: relative;
}


section p {
  font-family: 'Lobster', cursive;
  margin-right: 0;
  text-shadow: 0 0 3px #000000;
}

/* .firstP{
  color: #000000;
  text-shadow: 0 0 3px #ffffff;
} */

p {
  font-size: larger;
  color: #fefae0;
}

.modal-body p{
  color: #484e53;
}

h5{
  color: #fefae0;
}

h6{
  font: italic 1.5em "Fira Sans", serif;
  text-decoration: underline;

}

h2 {
  color: #eaa04d;
  text-shadow: 0 0 3px #000000;
}

.shadow {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(212,212,212,0.7549849839238396) 7%, rgba(212,212,212,0.5269148084852431) 42%, rgba(181,181,181,0.007142310049019662) 68%);
  padding: 0 0; 
}

.nosotros{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.5524631361333596) 0%, rgba(255,251,251,0) 100%);
}



#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

/* #foot li a:hover {
  background-color: #dadada;
  opacity: 1;
} */

#contactus {
  color: grey;
  font-size: large;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

#contactus::before,
#contactus::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;

}

#contactus::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#contactus::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

#contactus:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

#contactus:hover::after {
  transform: translate3d(0, 0, 0);

}

#contactus span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#contactus:hover span {
  transform: translate3d(-200%, 0, 0);
}


footer h6 {
  color: white;
  text-decoration: none;
  
}

.intro {
  font-size: xx-large;
}

.introH2 {
  font-size: 100px
}

@media (max-width: 600px) {
  .intro {
    font-size: 18px;
  }

  .introH2 {
    font-size: 60px;
  }
}

#novedades {

  background: linear-gradient(to right, rgb(200, 200, 200), rgba(255, 122, 89, 0));
  border-radius: 3%;
}



.lista-novedades {
  margin: 0;
  padding: 0;
  list-style: none;
  text-shadow: 0 0 3px #ffffff;
}

.lista-novedades li {
  margin: 4px, 0;
}

.lista-novedades li a:hover {
  color: #212529;
  background-color: #dadada;
  margin-left: 1.4rem;
  opacity: 1;
}

.lista-novedades li a {
  transition: all .2s ease-in-out;
  display: block;
  text-align: justify;
  text-decoration: none;
  color: #212529;
}

.lista-novedades>li img {
  width: 100px;
  height: auto;
  filter: grayscale();
  transition: all .2s ease-in-out;
  margin-right: 1rem;
  opacity: 0.7;
}

.carousel-inner img {
  opacity: 80%;
}



.carousel-caption {
  background-position: 25%;
  top: 25%;
  bottom: auto;
  color: #005f73;
}



.carousel-caption p {
  font-size: x-large;
  color: #000000;
}

.carousel-inner {
  padding-bottom: 1rem;
}

.card-title {
  color: #ffd6ba;
}

.card-text {
  color: #bee3db;
}